In [ ]:
import boto3
import os
import pandas as pd
import redshift_connector

from config import table_to_fetch

## Set up and establish connection

In [ ]:
client = boto3.client('redshift-serverless', region_name='us-east-1')

conn = redshift_connector.connect(
    host='redshift-endpoint-uzzshbqjxhujeqoazfpe.019309805349.us-east-1.redshift-serverless.amazonaws.com',
    port=5439,
    database='sample_data_dev',
    user=os.environ['DATABASE_USERNAME'],
    password=os.environ['DATABASE_PASSWORD'],
)

cursor = conn.cursor()

## List all tables in tickit table schema

In [ ]:
# Execute the SQL query to get all the table names
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='tickit'")

# Fetch all the results and print them out
rows = cursor.fetchall()
for row in rows:
    print(row[0])

## List all columns in specified table

In [ ]:
cursor.execute(f"SELECT column_name FROM information_schema.columns WHERE table_name = '{table_to_fetch}'")
rows = cursor.fetchall()
for row in rows:
    print(row[0])

## Fetch table and create dataframe

In [ ]:
cursor.execute(f"SELECT * FROM tickit.{table_to_fetch}")
df = cursor.fetch_dataframe()

## Preview table and save it as csv in ../results

In [ ]:
print(df.head())
df.to_csv(f"../results/{table_to_fetch}_table.csv")

In [ ]:
conn.close()